.vscode
robotoff.code-workspace
__pycache__
build
# debug is a dev-only directory to store all temporary files
debug
dist
.idea
robotoff.egg-info
ml/data/*
datasets
*.joblib
.ipynb_checkpoints
.mypy_cache
.pytest_cache
models/lid.176.bin
models/**/model.savedmodel
models/**/model.onnx
local_models
docker-compose.production.yml
*.mo
.DS_Store
images

.venv/
# pyenv file
.python-version
tf_models/*
weights/

# direnv
.envrc
# vim
.*.swp

# coverage
.cov
.coverage
coverage.xml

site/
gh_pages/
doc/README.md
doc/references/cli.md 
data/diskcache