.vscode
__pycache__
build
dist
.idea
robotoff.egg-info
ml/data/*
datasets
*.joblib
*.gz
.ipynb_checkpoints
.mypy_cache
.pytest_cache
models
local_models
docker-compose.production.yml
*.mo
.DS_Store
images