repos:
  # Note for all linters: do not forget to update pyproject.toml when updating version.
  - repo: https://github.com/ambv/black
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3.9

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8

  - repo: https://github.com/timothycrosley/isort
    rev: "5.9.3"
    hooks:
      - id: isort
