repos:
  # Note for all linters: do not forget to update pyproject.toml when updating version.
  - repo: https://github.com/ambv/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8

  - repo: https://github.com/timothycrosley/isort
    rev: "5.13.2"
    hooks:
      - id: isort
