[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.coverage.run]
data_file = ".cov/.coverage"
source = ["robotoff"]

[tool.coverage.xml]
output = ".cov/coverage.xml"

[tool.isort] # From https://black.readthedocs.io/en/stable/compatible_configs.html#isort
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 88

[tool.mypy]
ignore_missing_imports = true

[tool.poetry]
name = "robotoff"
version = "1.4.0"
description = "Real-time and batch prediction service for Openfoodfacts."
authors = ["Openfoodfacts Team"]
license = "GNU Affero General Public License v3"

[tool.poetry.dependencies]
python = "^3.7"
requests = "~2.27.1"
peewee = "~3.14.4"
psycopg2-binary = "~2.9.1"
gunicorn = "~20.1.0"
falcon = "~2.0.0"
falcon-cors = "~1.1.7"
falcon-multipart = "~0.2.0"
elasticsearch = "~7.16.3"
pymongo = "~3.12.0"
spacy = "~2.3.7"
dacite = "~1.6.0"
flashtext = "~2.7"
langid = "~1.1.6"
influxdb = "~5.3.1"
jsonschema = "~4.4.0"
orjson = "~3.6.3"
Pillow = "~9.0.0"
numpy = "~1.19.5"
protobuf = "~3.17.3"
Pint = "0.9"
APScheduler = "~3.8.1"
more-itertools = "~8.9.0"
matplotlib = "~3.4.3"
typer = "~0.3.2"
py-healthcheck = "^1.10.1"

[tool.poetry.dependencies.sentry-sdk]
version = "~0.19.5"
extras = ["falcon"]

[tool.poetry.dev-dependencies]
flake8 = "4.0.1"
black = "21.12b0"                                  # If upgrading black, be sure to also update black version in .github/workflows/autoblack.yml and in .pre-commit-config.yaml
factory_boy-peewee = "0.0.4"  # This package is archived and not maintained anymore but works and is very lightweight.
mypy = "0.931"
pytest = "~6.2.5"
pytest-mock = "~3.6.1"
pre-commit = "~2.17.0"
toml-sort = "~0.18.0"
isort = "~5.9.3"
flake8-bugbear = "~21.9.1"
flake8-github-actions = "~0.1.1"
pytest-cov = "~2.12.1"
mkdocs-material = "~7.2.3"
mdx-truly-sane-lists = "~1.2"
mkdocs-awesome-pages-plugin = "~2.6.1"
typer-cli = "~0.0.11"
coverage = { extras = ["toml"], version = "~6.2" }
types-requests = "~2.26.0"
types-six = "^1.16.10"
types-protobuf = "^3.17.3"
types-certifi = "^2021.10.8"
types-setuptools = "^57.4.8"
types-toml = "^0.10.3"

[tool.poetry.scripts]
robotoff-cli = 'robotoff.cli.main:main'
