requests==2.23.0
peewee==3.13.3
psycopg2-binary==2.8.5
gunicorn==20.0.4
falcon==2.0.0
falcon-cors==1.1.7
falcon-multipart==0.2.0
elasticsearch==6.3.1
Click==7.1.2
apscheduler==3.6.3
sentry-sdk[falcon]==0.14.3
Pillow==7.1.2
more-itertools==8.3.0
numpy==1.18.4
protobuf==3.7.1
Pint==0.9
dataclasses>=0.6;python_version<"3.7"
dacite==1.5.0
tensorflow==2.0.1
spacy==2.2.2
scikit-learn==0.23.0
flashtext==2.7
langid==1.1.6
pymongo==3.10.1
influxdb==5.2.3