requests
peewee
psycopg2-binary
gunicorn
falcon==1.4.1
falcon-cors==1.1.7
falcon-multipart==0.2.0
elasticsearch==6.3.1
Click==7.0
apscheduler==3.5.3
sentry-sdk==0.7.6
tensorflow==1.13.1
Pillow==6.0.0
numpy==1.15.4
matplotlib==3.0.3
