x-robotoff-dev: &robotoff-dev
  image: openfoodfacts/robotoff:dev
  build:
    context: .
    target: runtime-dev
    args:
      OFF_UID: ${OFF_UID:-1000}
      OFF_GID: ${OFF_GID:-1000}
      PYTHON_VERSION: ${PYTHON_VERSION:-3.11}
  volumes:
  # make updates to code available
  - ./robotoff:/opt/robotoff/robotoff
  - ./scripts:/opt/robotoff/scripts
  - ./pyproject.toml:/opt/robotoff/pyproject.toml
  - ./poetry.toml:/opt/robotoff/poetry.toml
  - ./poetry.lock:/opt/robotoff/poetry.lock
  - ./.flake8:/opt/robotoff/.flake8
  # make tests available
  - ./tests:/opt/robotoff/tests
  - ./.cov:/opt/robotoff/.cov
  # make i18N available
  - ./i18n:/opt/robotoff/i18n
  # make data available
  - ./data:/opt/robotoff/data
  - ./cache:/opt/robotoff/cache
  # make migration files available
  - ./migrations:/opt/robotoff/migrations
  # make doc generation available
  - ./mkdocs.yml:/opt/robotoff/mkdocs.yml
  - ./build_mkdocs.sh:/opt/robotoff/build_mkdocs.sh
  - ./README.md:/opt/robotoff/README.md
  - ./docs:/opt/robotoff/docs
  - ./gh_pages:/opt/robotoff/gh_pages

services:
  api:
    <<: *robotoff-dev
  worker-1:
    <<: *robotoff-dev
  worker-2:
    <<: *robotoff-dev
  worker-3:
    <<: *robotoff-dev
  worker-4:
    <<: *robotoff-dev
  worker-ml-1:
    <<: *robotoff-dev
  worker-ml-2:
    <<: *robotoff-dev

  scheduler:
    <<: *robotoff-dev

  update-listener:
    <<: *robotoff-dev

  elasticsearch:
    ports:
    - "127.0.0.1:9200:9200"

volumes:
  postgres-data:
    name: ${COMPOSE_PROJECT_NAME:-robotoff}_postgres-data
  es-data:
    name: ${COMPOSE_PROJECT_NAME:-robotoff}_es-data
