version: "3.9"

x-robotoff-dev: &robotoff-dev
    image: openfoodfacts/robotoff:dev
    build:
      context: .
      target: runtime-dev
      args:
        OFF_UID: ${OFF_UID:-1000}
        OFF_GID: ${OFF_GID:-1000}
        PYTHON_VERSION: ${PYTHON_VERSION:-3.9}
    volumes:
      # make updates to code available
      - ./robotoff:/opt/robotoff/robotoff
      - ./scripts:/opt/robotoff/scripts
      - ./pyproject.toml:/opt/robotoff/pyproject.toml
      - ./poetry.toml:/opt/robotoff/poetry.toml
      - ./poetry.lock:/opt/robotoff/poetry.lock
      # make tests available
      - ./tests:/opt/robotoff/tests
      - ./.cov:/opt/robotoff/.cov
      # make i18N available
      - ./i18n:/opt/robotoff/i18n
      # make data available
      - ./data:/opt/robotoff/data
      # make doc generation available
      - ./mkdocs.yml:/opt/robotoff/mkdocs.yml
      - ./build_mkdocs.sh:/opt/robotoff/build_mkdocs.sh
      - ./README.md:/opt/robotoff/README.md
      - ./doc:/opt/robotoff/doc
      - ./gh_pages:/opt/robotoff/gh_pages

services:
  api:
    <<: *robotoff-dev
  worker_high_1:
    <<: *robotoff-dev
  worker_high_2:
    <<: *robotoff-dev
  worker_low_1:
    <<: *robotoff-dev
  worker_low_2:
    <<: *robotoff-dev

  scheduler:
    <<: *robotoff-dev

  elasticsearch:
    ports:
      - "127.0.0.1:9200:9200"

volumes:
  postgres-data:
    name: ${COMPOSE_PROJECT_NAME:-robotoff}_postgres-data
  es-data:
    name: ${COMPOSE_PROJECT_NAME:-robotoff}_es-data
