<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Robotoff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-small is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Robotoff
            </h1>
            <h2 class="subtitle">
                One-click labeling
            </h2>
        </div>
    </div>
</section>
<section class="section">
    {% if no_product %}
        <div class="container">
            <p>Il ne reste plus de produits à annoter !</p>
        </div>
    {% else %}
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="card">
                    <div class="card-image">
                        <figure style="text-align: center">
                            <img style="max-height: 400px" src="{% if image_url %}{{ image_url }}{% else %}https://vollrath.com/ClientCss/images/VollrathImages/No_Image_Available.jpg{% endif %}"/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ product_name }}</p>
                                <p class="subtitle is-6">{{ brands }}</p>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Ingrédients :</strong> {{ ingredients_texts }}
                        </div>
                        <p><a href="{{ product_link }}">Product page</a></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <h1 class="title">Category</h1>
                <p>{% for tag in categories_tags %}<span class="tag is-large">{{ tag }}</span>{% endfor %}<span class="tag is-success is-large">{{ predicted_category }}</span></p>
                {% if confidence is defined %}
                <div style="margin-top: 3rem; text-align: center">
                    <p class="title is-5">Confidence: {{ confidence }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container" style="margin-top: 2rem">
            <div class="buttons is-centered">
                <form action="/" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}"/>
                    <input type="hidden" name="annotation" value=1 />
                    <input type="hidden" name="current_categories" value="{{ categories_tags|join(',') }}" />
                    <button class="button is-large is-primary"><i class="fas fa-check"></i></button>
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}"/>
                    <input type="hidden" name="annotation" value=0 />
                    <button class="button is-large is-danger"><i class="fas fa-times"></i></button>
                </form>
                <form action="/" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}"/>
                    <input type="hidden" name="annotation" value="-1" />
                        <button style="background-color: #8b8888" class="button is-large is-dark"><i class="fas fa-ban"></i></button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</section>
</body>
</html>
