model_config_list {
  config {
    name: 'nutriscore'
    base_path: '/models/nutriscore/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'nutrition-table'
    base_path: '/models/nutrition-table/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'universal-logo-detector'
    base_path: '/models/universal-logo-detector/'
    model_platform: 'tensorflow'
  }
}